{% with request.resolver_match.view_name as view_name %}
<li class="list-group-item">
    <a class="list-group-item list-group-item-action" href="{% url 'catalog:item_detail' item.pk %}">
        <div class="row">{{ item.name }}</div>
        {% if view_name != 'catalog:item_list' %}
        <div class="row">{{ item.level }}</div>
        {% endif %}
        <div class="row">{{ item.description | truncatewords_html:10 | safe }}</div>
        <div class="row">{{ item.budget }}</div>
        <div class="row">{{ item. }}</div>
    </a>
</li>
{% endwith %}